<div class="jumbotron jumbotron-sm corfundocontato">
	<div class="container">
		<div class="row">
			<div class="com-sm-12 col-lg-12">
				<h1 class="h1">
					Entre em contanto conosco <small id="fontepreta">Tire suas dúvidas</small>
				</h1>
			</div>
		</div>
	</div>
</div>

<section class="col-md-12" id="margem">
	<div class="col-md-offset-4 col-md-4 col-md-offset-4">
	<br>
	<br>
	
		<%= render 'form' %>
	<br>
	<br>
	<br>
	<br>	
	</div>
</section>
