/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min.css
 *= require font-awesome
 */

 .font-brand {
  font-family: 'Permanent Marker', cursive;
 }

 .jumbotron {
    text-align: center;
  }

 .section-one {
  padding: 40px;
  margin-bottom: 30px;
 }

 /* Sticky footer styles
 -------------------------------------------------- */
 html {
   position: relative;
   min-height: 100%;
 }
 body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
   padding-top: 30px;
 }
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   background-color: #93C54B;
 }


 /* Custom page CSS
 -------------------------------------------------- */
 /* Not required for template or sticky footer method. */

 body > .container {
   padding: 20px 15px 0;
 }
 .container .foot {
   margin: 20px 0;
   color: #fff;
 }

 .footer > .container {
   padding-right: 15px;
   padding-left: 15px;
 }

 code {
   font-size: 80%;
 }

 .footer a {
  color: #fff;
  margin-left: 10px;
  font-size: 25px;
 }

 .footer a:hover {
  color: #4F7814;
 }